@font-face {
  font-family: 'SF-ProDisplay';
  src: url("../ff/SFProDisplay-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'SF-ProDisplay';
  src: url("../ff/SFProDisplay-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'SF-ProDisplay';
  src: url("../ff/SFProDisplay-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  font-family: 'SF-ProDisplay', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: #fff;
  color: #2f3035;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
